
<div class="container py-4  vh-100 my-5 ">
    <div class="row py-5 px-3 rounded-4 headRow rounded-5 justify-content-start">
       <div class="col-md-6">
        <H2 class="fw-bolder">FROM CONCEPT TO CREATION...</H2>
        <P class="fw-bolder fs-5 py-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, recusandae modi? Reiciendis nobis laudantium excepturi!</P>
        <P class="fw-bolder fs-5 ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, recusandae modi? Reiciendis nobis laudantium excepturi!</P>
        <div class="row py-5 justify-content-center align-items-center gy-3">
            <div class="col-md-3 text-center cicon d-flex flex-column justify-content-center align-items-center rounded-circle mx-2">
                <i class="fa-solid fa-compass-drafting fa-2xl mb-3"></i>
                <h2 class="fs-4 fw-bolder">Design</h2>
            </div>
            <div class="col-md-3 text-center cicon d-flex flex-column justify-content-center align-items-center rounded-circle mx-2">
                <i class="fa-solid fa-screwdriver-wrench fa-2xl mb-3"></i>
                <h2 class="fs-4 fw-bolder">Fabrication</h2>
            </div>
            <div class="col-md-3 text-center cicon d-flex flex-column justify-content-center align-items-center rounded-circle mx-2">
                <i class="fa-solid fa-tower-observation fa-2xl mb-3"></i>
                <h2 class="fs-4 fw-bolder">Erection</h2>
            </div>
           
        </div>
       </div>
       <div class="col-md-3 layer1">
        <div class="row flex-column g-2">
            <div class="col-md-6">
                <img src="assets/images/grey-metal-framed-glass-window-building.jpg" class="pic rounded-3">
            </div>
            <div class="col-md-6">
                <img src="assets/images/view-ornamental-clock-london-city.jpg" class="pic rounded-3">
            </div>
        </div>
       </div>
       <div class="col-md-3 layer1">
        <div class="row gy-2">
            <div class="col-md-12">
                <img src="assets/images/005.jpg" class="w-100 rounded-3">
            </div>
            <div class="col-md-12">
                <img src="assets/images/waibaidu-bridge.jpg" class="w-100 rounded-3">
            </div>
            <div class="col-md-12">
                <img src="assets/images/shading/e506c35a189f456b43d5530148b2e8b3.jpg" class="w-100 rounded-3 cusPic">
            </div>
        </div>
       </div>
    </div>
</div>
