/* .aboutGroup
{
    background-color: #f1f1f1;
    box-shadow: 0px 0px 20px darkgray;
}
.cBorder{
    border-color: var(--darkMain--) !important;
}
p{
    max-width: 900px;
} */

.container{
    height: 92vh;
    color: var(--darkMain--);
    
}
.headRow{
    background-color: #f1f1f1;
    box-shadow: 0px 0px 20px darkgray;
}
.col-md-4{
    height: 92vh;
}
.pic{
    width: 200%;
}
.cusPic{
    height: 170px;
}
ul li{
    color: var(--darkYello-);
}
.cicon{
    width: 150px;
    height: 150px;
    background-color: #f1f1f1;
    transition: all 0.5s;
    background-color: var(--darkMain--);
    color: white;
}
.cicon:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px black;
}
@media screen and (max-width:600px){
    .layer1{
        display: none;
    }
    .headRow{
        background-image: linear-gradient(rgba(0,0,0,0.8) , rgba(0,0,0,0.8)) , url(../../assets/images/view-ornamental-clock-london-city.jpg) !important;
        background-position: center;
        background-size: cover;
        color: white;
    }
    .headRow{
        background-color: transparent;
    }
    
}