<div class="container-fluid h-75">
    <div class="row p-5">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide><img src="assets/images/steel-catalog/download (1).png" ></ng-template>  
            <ng-template carouselSlide><img src="assets/images/steel-catalog/download.png" ></ng-template>
            <ng-template carouselSlide><img src="assets/images/steel-catalog/download (2).png" ></ng-template>  
            <ng-template carouselSlide><img src="assets/images/steel-catalog/download (3).png" ></ng-template>  
            <ng-template carouselSlide><img src="assets/images/steel-catalog/download (4).png" ></ng-template>  
            <ng-template carouselSlide><img src="assets/images/steel-catalog/download (5).png" ></ng-template>  
            <ng-template carouselSlide><img src="assets/images/steel-catalog/download (6).png" ></ng-template>  
            <ng-template carouselSlide><img src="assets/images/steel-catalog/download (7).png" ></ng-template>  
            <ng-template carouselSlide><img src="assets/images/steel-catalog/download (8).png" ></ng-template>  
            <ng-template carouselSlide><img src="assets/images/steel-catalog/download (9).png" ></ng-template> 
            <ng-template carouselSlide><img src="assets/images/steel-catalog/download (10).png" ></ng-template>  
            <ng-template carouselSlide><img src="assets/images/steel-catalog/download (11).png" ></ng-template>  
            <ng-template carouselSlide><img src="assets/images/steel-catalog/download (12).png" ></ng-template>  
            <ng-template carouselSlide><img src="assets/images/steel-catalog/download (13).png" ></ng-template>  
            <ng-template carouselSlide><img src="assets/images/steel-catalog/download (14).png" ></ng-template>  
            <ng-template carouselSlide><img src="assets/images/steel-catalog/download (15).png" ></ng-template>    
         
          </owl-carousel-o>
    </div>

</div>
