<div class="container-fluid py-5 mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="servCard text-center rounded-3 shadow-lg pb-3">
        <img
          src="assets/images/steel/construction-concept-image-helmet-rolled-blueprints-wooden-boards-retro-style.jpg"
          class="w-100 rounded-top-3 img"
        />
       <div class="body">
        <h3 class="fw-bolder px-2 py-2">DESIGN</h3>
        <p class="fw-bolder px-2">
          Our technical office offers design and engineering services and
          solutions for any desired steel project.
        </p>
       </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="servCard text-center rounded-3 shadow-lg pb-3">
        <img
          src="assets/images/steel/arc-welding-steel-construction-site (1).jpg"
          class="w-100 rounded-top-3 img"
        />
       <div class="body">
        <h3 class="fw-bolder px-2 py-2">Fabrication</h3>
        <p class="fw-bolder px-2">
          Our factory and workshops enable us to deliver different types of
          steel structures according to customers specifications.
        </p>
       </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="servCard text-center rounded-3 shadow-lg pb-3">
        <img
          src="assets/images/WhatsApp-Image-2023-05-06-at-8.53.12-PM.jpeg"
          class="w-100 rounded-top-3 img"
        />
        <div class="body">
            <h3 class="fw-bolder px-2 py-2">Installation</h3>
        <p class="fw-bolder px-2">
          our installation team of professionals with vast expertise in
          different types and sizes of steel structures and related works
          enables us to work on any steel-related project.
        </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
        <div class="servCard text-center rounded-3 shadow-lg pb-3">
          <img
            src="assets/images/main.png"
            class="w-100 rounded-top-3 img"
          />
          <div class="body">
              <h3 class="fw-bolder px-2 py-2">Maintenance</h3>
          <p class="fw-bolder px-2">
            our installation team of professionals with vast expertise in
            different types and sizes of steel structures and related works
            enables us to work on any steel-related project.
          </p>
          </div>
        </div>
      </div>

      <div class="col-md-12 py-5">
        <h3 class="fw-bolder text-center fst-italic py-3">Our Partner</h3>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide><img src="assets/images/companies-logo/271079813_1338746763224498_1228882328822959479_n.jpg" class="mx-2"></ng-template>  
            <ng-template carouselSlide><img src="assets/images/companies-logo/rs=h_100,cg_true (1).png" class="mx-2"></ng-template>
            <ng-template carouselSlide><img src="assets/images/companies-logo/rs=h_100,cg_true (2).png" class="mx-2"></ng-template>  
            <ng-template carouselSlide><img src="assets/images/companies-logo/rs=h_100,cg_true (3).png" class="mx-2"></ng-template>  
            <ng-template carouselSlide><img src="assets/images/companies-logo/rs=h_100,cg_true (4).png" class="mx-2"></ng-template>  
            <ng-template carouselSlide><img src="assets/images/companies-logo/rs=h_100,cg_true,m (1).png" class="mx-2"></ng-template> 
            <ng-template carouselSlide><img src="assets/images/companies-logo/rs=h_100,cg_true,m (2).png" class="mx-2"></ng-template> 
            <ng-template carouselSlide><img src="assets/images/companies-logo/rs=h_100,cg_true,m (3).png" class="mx-2"></ng-template> 
            <ng-template carouselSlide><img src="assets/images/companies-logo/rs=h_100,cg_true,m (4).png" class="mx-2"></ng-template> 
            <ng-template carouselSlide><img src="assets/images/companies-logo/rs=h_100,cg_true,m (5).png" class="mx-2"></ng-template> 
            <ng-template carouselSlide><img src="assets/images/companies-logo/rs=h_100,cg_true,m (6).png" class="mx-2"></ng-template> 
            <ng-template carouselSlide><img src="assets/images/companies-logo/rs=h_100,cg_true,m (7).png" class="mx-2"></ng-template> 
            <ng-template carouselSlide><img src="assets/images/companies-logo/rs=h_100,cg_true,m (8).png" class="mx-2"></ng-template>  
            <ng-template carouselSlide><img src="assets/images/companies-logo/rs=h_100,cg_true,m (9).png" class="mx-2"></ng-template> 
            <ng-template carouselSlide><img src="assets/images/companies-logo/rs=h_100,cg_true,m.png" class="mx-2"></ng-template> 
         
          </owl-carousel-o>
      </div>
     
  </div>
</div>


