<section
id="projects"
class= "py-5 vh-100 overflow-auto"
>
<div class="projectsHeader text-center py-5">
  <h1 class="fw-bolder d-inline border-bottom border-2 border-dark mt-5">
    OUR PROJECTS
  </h1>
</div>
<nav aria-label="breadcrumb" class="bg-transparent">
  <ol class="breadcrumb justify-content-center">
    <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Projects</li>
  </ol>
</nav>
<div class="container">
  <nav>
    <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Warehouse</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">MultyStory Building</button>
      <button class="nav-link" id="nav-Roof-tab" data-bs-toggle="tab" data-bs-target="#nav-Roof" type="button" role="tab" aria-controls="nav-Roof" aria-selected="false">Steel Roof</button>
      <button class="nav-link" id="nav-Gate-tab" data-bs-toggle="tab" data-bs-target="#nav-Gate" type="button" role="tab" aria-controls="nav-Gate" aria-selected="false">Gate</button>
      <button class="nav-link" id="nav-Bridge-tab" data-bs-toggle="tab" data-bs-target="#nav-Bridge" type="button" role="tab" aria-controls="nav-Bridge" aria-selected="false">Bridge</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
      <div class="row justify-content-center align-items-start">
        <div class="col-md-6 col-lg-4 btn project" id="3A">
          <div class="p-3">
            <div class="card">
              <img src="assets/images/projects/3A/download.jpg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">3A Company Grain Storage Structure
                </h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's CAIRO 3A COMPANY project , located in DUMIAT HARBOR city
                  , consisting of 5632 TONS of Steel with an
                  area of 9350  square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 btn project" id="alasher">
          <div class="p-3">
            <div class="card">
              <img src="assets/images//projects/alasher/download.jpg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">El Asher Industrial Zone</h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's El Nile Delata Company project , located in the city
                  of 6th of October, consisting of 4000 tons of Steel with an
                  area of 120,000 square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 btn project" id="Roubiki">
          <div class="p-3">
            <div class="card">
              <img src="assets/images//projects/Roubiki/download (1).jpg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">Al-Roubiki Industrial City</h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's Urban Communities Authority project , located in BADR CITY city
                  , consisting of 1260 TONS of Steel with an
                  area of 28880 square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 project" id="WadiElmolak">
          <div class="p-3">
            <div class="card">
              <img src="assets/images//projects/wadiElmolak/WhatsApp Image 2023-09-04 at 12.22.52 AM.jpeg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">Wadi-Elmolak Farme</h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's Abnaa Sainai Campany project , located in 10th of Ramdan  city
                  , consisting of 800 Tons  of Steel with an
                  area of 8000 square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 project" id="smohaClub">
          <div class="p-3">
            <div class="card">
              <img src="assets/images//projects/Smouha ClubGymnasticsHall/download.jpg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">Smouha Club Gymnastics Hall</h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's Smouha  Club  project , located in Alexandria  city
                  , consisting of 468 Tons of Steel with an
                  area of 2200  square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 project" id="NileShippingandGrainSilos">
          <div class="p-3">
            <div class="card">
              <img src="assets/images//projects/NileShippingandGrain/11.jpg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">Nile Shipping and Grain Silos</h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's El Nile Shipping and Grain Company project , located in Alexandria , consisting of 280 tons of Steel with an
                  area of 6190 square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 project" id="artLink">
          <div class="p-3">
            <div class="card">
              <img src="assets/images//projects/artlink/download (2).jpg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">Art Link Company</h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's ART LINK CAMPONY project , located Borg Al Arab,Alexandria , consisting of 200 tons of Steel with an
                  area of 4000 square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 btn project" id="PharmaCompany">
          <div class="p-3">
            <div class="card">
              <img src="assets/images//projects/pharma/download (1).jpg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">Pharma Company</h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's Nile Shipping and Grain   project , located in the city
                  of 6th of October, consisting of 150 Tons of Steel with an
                  area of 5000 square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 project" id="MohamedNaguibGamesHall">
          <div class="p-3">
            <div class="card">
              <img src="assets/images//projects/MohamedNaguibGamesHall/main.jpg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">Mohamed Naguib Games Hall </h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's Armed Forces project , located in Northern Military District , Alexandria , consisting of 113 tons of Steel with an
                  area of 2268 square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 btn project" id="renbow">
          <div class="p-3">
            <div class="card">
              <img src="assets/images//projects/renbow/download (2).jpg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">Renbo Company</h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's RENBO project ,located in Borg Al Arab,Alexandria  
                  ,consisting of 89.75 TONS of Steel with an
                  area of 2208 square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
         <div class="col-md-6 col-lg-4 btn project" id="mega">
          <div class="p-3">
            <div class="card">
              <img src="assets/images//projects/mega/download.jpg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">Mega House Company</h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's MEGA HOUSE FOR CONSTRUCTION project ,located in 5TH SETLMENT ,CAIRO  
                  ,consisting of 75 TONS of Steel with an
                  area of 2500 square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 project" id="Mercedes-BenzServiceCenter">
          <div class="p-3">
            <div class="card">
              <img src="assets/images//projects/Mercedes/main.jpg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">Mercedes - Benz  Service Center</h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's Alexandria National Motors Company project , located in El-Alamein city
                  , consisting of 40 tons of Steel with an
                  area of 805 square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 btn project" id="ola">
          <div class="p-3">
            <div class="card">
              <img src="assets/images//projects/ola/download (2).jpg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">El Ola Factory</h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's El Ola Steel project , located in Abes , Alexandria City  
                  , consisting of 16 Tons of Steel with an
                  area of 800 square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
      <div class="row justify-content-center align-items-start">
        <div class="col-md-6 col-lg-4 project" id="palmCity">
          <div class="p-3">
            <div class="card">
              <img src="assets/images//projects/palmCity/download (2).jpg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">Palm City Commercial Building</h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's Palm City Campany project , located in Alexandria  city
                  , consisting of 950 Tons  of Steel with an
                  area of 4060 square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 project" id="sansteanoBay">
          <div class="p-3">
            <div class="card">
              <img src="assets/images//projects/sanstefano/Screenshot (39).png" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">Sanstefano Bay</h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's Telal For Construction Campany project , located in Alexandria  city
                  , consisting of 600 Tons  of Steel with an
                  area of 8000 square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 project" id="Felopateer">
          <div class="p-3">
            <div class="card">
              <img src="assets/images//projects/Felopateer/download.jpg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">Felopateer Palace</h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's I-ART COMPANY project , located in Alexandria  city
                  , consisting of 485 TONS of Steel with an
                  area of 3000 square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 project" id="GSE">
          <div class="p-3">
            <div class="card">
              <img src="assets/images//projects/GSE/download (1).jpg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">GSE Lining Technology Factory</h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's GSE  Technology Company For Lining project , located in 6Th October city
                  , consisting of 235 Tons of Steel with an
                  area of 7800 square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 project" id="casino">
          <div class="p-3">
            <div class="card">
              <img src="assets/images//projects/casinoElshatby/download (1).jpg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">Casino Elshatby</h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's  Casino Elshatby project , located in Alexandria , consisting of 70 Tons of Steel with an
                  area of 235 square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 btn project" id="goldenChicken">
          <div class="p-3">
            <div class="card">
              <img src="assets/images//projects/goldenChicken/download (1).jpg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">Golden Chicken factory
                  </h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's Golden Chicken Company project , located in El-Monofia , Sadat City  
                  , consisting of 25 Tons of Steel with an
                  area of 200 square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 btn project" id="parkSt">
          <div class="p-3">
            <div class="card">
              <img src="assets/images//projects/parkSt/download (2).jpg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">Park st. Mall</h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's LEEDS COMPANY project , located in 6TH OF OCTOBER City  
                  , consisting of 55 TONS of Steel with an
                  area of 700 square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-Roof" role="tabpanel" aria-labelledby="nav-Roof-tab" tabindex="0">
      <div class="row justify-content-center align-items-start">
        <div class="col-md-6 col-lg-4 project" id="olmpic">
          <div class="p-3">
            <div class="card">
              <img src="assets/images//projects/olmpic/download (2).jpg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">Olympic Club Hall</h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's Olympic Club project , located in Alexandria  city
                  , consisting of 17.5 TONS of Steel with an
                  area of 860 square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 project" id="samsung">
          <div class="p-3">
            <div class="card">
              <img src="assets/images//projects/samsung/download (1).jpg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">Samsung Screen</h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's 3M COMPANY project , located in PORTSAIED , consisting of 150 TONS of Steel with an
                  area of 4600 square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-Gate" role="tabpanel" aria-labelledby="nav-Gate-tab" tabindex="0">
      <div class="row justify-content-center align-items-start">
        <div class="col-md-6 col-lg-4 btn project" id="glalaGate">
          <div class="p-3">
            <div class="card">
              <img src="assets/images//projects/glalaGate/download.jpg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">Galala Monte Gate</h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's  Tatweer Misr Company project , located in El-Sokhna   city
                  , consisting of 35 Tons of Steel with an
                  area of 1200 square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 project" id="FoukaBayGate">
          <div class="p-3">
            <div class="card pb-4">
              <img src="assets/images//projects/Fouka Bay Gate/download.jpg" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">Fouka Bay Gate</h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's Tatweer Misr Company project , located El-Alamain city
                  , consisting of 30 tons of Steel with an
                  area of 900 square meters.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-Bridge" role="tabpanel" aria-labelledby="nav-Bridge-tab" tabindex="0">
      <div class="row justify-content-center align-items-start">
        <div class="col-md-6 col-lg-4 project" id="DesertRoadBridges">
          <div class="p-3">
            <div class="card pb-4">
              <img src="assets/images//projects/Desert Road Bridges//download (1).jpg" class="card-img-top btn p-0 border-0" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bolder">Desert Road Bridges</h5>
                <p class="card-text fw-bolder m-0 text-muted">
                  Our client's Armed Forces project , located Cairo - Alexandria Desert Road , and it consists of 4 bridges with a total of 60 tons of Steel.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
</section>

