<div class="container-fluid rounded-5">
    <div class="row rounded-4 justify-content-start">
       <div class="col-md-6">
        <H2 class="fw-bolder">WE GOT ALL COVERED...</H2>
        <P class="fw-bolder fs-5 py-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, recusandae modi? Reiciendis nobis laudantium excepturi!</P>
        <P class="fw-bolder fs-5 ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, recusandae modi? Reiciendis nobis laudantium excepturi!</P>
       </div>
       <div class="col-md-3">
        <div class="row flex-column g-2">
            <div class="col-md-6">
                <img src="assets/images/shading/e506c35a189f456b43d5530148b2e8b3.jpg" class="pic rounded-3">
            </div>
            <div class="col-md-6">
                <img src="assets/images/shading//9dc4f3f6ddc15bb6581df2bb763fccb4.jpg" class="pic2 rounded-3">
            </div>
        </div>
       </div>
       <div class="col-md-3">
        <div class="row gy-2">
            <div class="col-md-12">
                <img src="assets/images/shading/Umbrella-1630x860(1).jpg" class="w-100 rounded-3">
            </div>
            <div class="col-md-12">
                <img src="assets/images/shading/1790ed683d23c40667a34f069b9c0e97.jpg" class="w-100 rounded-3">
            </div>
            <!-- <div class="col-md-12">
                <img src="assets/images/abstract-architecture-high-colorful-blue-orange-metal-roof-corrugated_69961-212.jpg" class="w-100 rounded-3 cusPic">
            </div> -->
        </div>
       </div>
    </div>
</div>


