<!-- <div class="container-fluid rounded-5">
    <div class="row rounded-4 justify-content-start">
       <div class="col-md-6">
        <H2 class="fw-bolder">FROM CONCEPT TO CREATION...</H2>
        <P class="fw-bolder fs-5 py-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, recusandae modi? Reiciendis nobis laudantium excepturi!</P>
        <P class="fw-bolder fs-5 ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, recusandae modi? Reiciendis nobis laudantium excepturi!</P>
        <div class="row py-5 justify-content-start align-items-center">
            <div class="col-md-3 text-center cicon d-flex flex-column justify-content-center align-items-center rounded-circle mx-2">
                <i class="fa-solid fa-compass-drafting fa-2xl mb-3"></i>
                <h2 class="fs-4 fw-bolder">Design</h2>
            </div>
            <div class="col-md-3 text-center cicon d-flex flex-column justify-content-center align-items-center rounded-circle mx-2">
                <i class="fa-solid fa-screwdriver-wrench fa-2xl mb-3"></i>
                <h2 class="fs-4 fw-bolder">Fabrication</h2>
            </div>
            <div class="col-md-3 text-center cicon d-flex flex-column justify-content-center align-items-center rounded-circle mx-2">
                <i class="fa-solid fa-tower-observation fa-2xl mb-3"></i>
                <h2 class="fs-4 fw-bolder">Erection</h2>
            </div>
           
        </div>
       </div>
       <div class="col-md-3">
        <div class="row flex-column g-2">
            <div class="col-md-6">
                <img src="../../assets/images/grey-metal-framed-glass-window-building.jpg" class="pic rounded-3">
            </div>
            <div class="col-md-6">
                <img src="../../assets/images/view-ornamental-clock-london-city.jpg" class="pic rounded-3">
            </div>
        </div>
       </div>
       <div class="col-md-3">
        <div class="row gy-2">
            <div class="col-md-12">
                <img src="../../assets/images/welding-work-with-metal-construction-busy-metal-factory.jpg" class="w-100 rounded-3">
            </div>
            <div class="col-md-12">
                <img src="../../assets/images/waibaidu-bridge.jpg" class="w-100 rounded-3">
            </div>
            <div class="col-md-12">
                <img src="../../assets/images/abstract-architecture-high-colorful-blue-orange-metal-roof-corrugated_69961-212.jpg" class="w-100 rounded-3 cusPic">
            </div>
        </div>
       </div>
    </div>
</div> -->

<div class="container-fluid py-5 mt-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-xl-9">
      <p class="fw-bolder fs-6 mb-5">
        We are an engineering manufacturer and contracting group, working mainly
        in the fabrication and installation of steel structures for more than 20
        years of experience.
      </p>
      <p class="fw-bolder fs-6">
        Our steel manufacturing factory is located in the new Borg Elarab region
        of Alexandria, where it all started, delivering various steel structure
        projects, including industrial plants, workshops, warehouses, cranes,
        multislope and multistore buildings, steel buildings, steel
        bridges,steel gates, steel doors, gantry girders, | and silos, and
        generally any steel-related structure from concept to creation for more
        than 20 years of experience in this field. Further expansions were made
        to meet market demands and our customers needs.
      </p>
    </div>
    <div class="col-xl-3">
        <img src="assets/images/steel/rs=w_600,cg_true.webp" class="w-100 rounded-3">
    </div>
  </div>
</div>
