.container-fluid{
    background-color: var(--darkMain--);
}
button{
    background-color: #c4e5fa;
    color: black;
}
.sideCart{
    position:absolute;
    left: 5%;
    top: 7%;
    background-color: #c4e5fa;
    color: black;
}
.cwithd{
    width: 75%;
}
.row
{
    position: relative;
}
@media screen and (max-width:600px){
    .row{
        position:static;
    }
    .sideCart{
        position: sticky;
        margin: 10px 10px;
    }
    .cwithd{
        width: 100%;
    }
    
}