
<section class="py-3 overflow-auto">
    <div class="container-fluid py-5 mt-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-3 sideCart rounded-3 py-4">
                <h3 class="text-center fw-bolder">Contact Us</h3>
                <ul class="list-unstyled text-start ms-3">
                    <li class="fw-bolder py-3">
                        <i class="fa-solid fa-location-dot fa-xl me-2"></i>Head Office: <span>5 El-Shaheed Tayar Mahmoud Shaker St, Smouha, Alexandria, Egypt</span>
                    </li>
                    <li class="fw-bolder py-3">
                        <i class="fa-solid fa-location-dot fa-xl me-2"></i>Cairo Office: <span>33 Darna Building, New Maadi – beside Carrefour – Cairo – Egypt</span>
                    </li>
                    <li class="fw-bolder py-3">
                        <i class="fa-solid fa-phone fa-xl me-2"></i>Phone: <span><a href="tel:+034243204" class="text-decoration-none text-black"> (03) 4243204</a></span>
                    </li>
                    <li class="fw-bolder py-3">
                        <i class="fa-solid fa-mobile fa-xl me-2"></i>Mobile: <span><a href="tel:+01000345277" class="text-decoration-none text-black"> 01000345277</a></span>
                    </li>
                    <li class="fw-bolder py-3">
                        <i class="fa-solid fa-envelope fa-xl me-2"></i>Email: <span><a href="mailto:info@alqudssteel.net" class="text-decoration-none text-black">info@alqudssteel.net</a></span>
                    </li>
                </ul>
                <ul class="d-flex list-unstyled text-start ms-3">
                    <li class="fw-bolder"><i class="fa-brands fa-whatsapp fa-xl me-3"></i></li>
                    <li class="fw-bolder"><i class="fa-brands fa-facebook fa-xl me-3"></i></li>
                    <li class="fw-bolder"><i class="fa-brands fa-linkedin fa-xl me-3"></i></li>
                    <li class="fw-bolder"><i class="fa-brands fa-pinterest fa-xl me-3"></i></li>
                    <li class="fw-bolder"><i class="fa-brands fa-instagram fa-xl me-3"></i></li>
                    <li class="fw-bolder"><i class="fa-brands fa-youtube fa-xl me-3"></i></li>
                </ul>

            </div>
            <div class="col-md-8 col-12 rounded-3 bg-body-secondary p-5 text-end">
                  <div class=" ms-auto cwithd">
                    <h3 class="fw-bolder text-center">Get In Touch</h3>
                    <input type="text" placeholder="name" class="form-control p-2 my-3">
                    <input type="email" placeholder="Email" class="form-control p-2 my-3">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Message" class="form-control p-2 my-3"></textarea>
                    <button class="btn px-4 fw-bolder">Send</button>
                  </div>
            </div>
        </div>
    </div>
    
</section>